@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  font-size: 16px !important;
} */

#code-view:hover {
  scrollbar-color: #777 transparent;
}

.hljs {
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
}

.dark-theme {
  background-color: #242424;
  color: #f0f0f0;
}

#pinned {
  font-family: fantasy !important;
}