@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  font-size: 16px !important;
} */

#code-view,
#code-tree {
  scrollbar-color: #555 transparent;
}

#code-tree {
  overflow-y: scroll;
}

#code-view:hover, #code-tree:hover {
  scrollbar-color: #777 transparent;
}

/* Change the font for Highlight.js code blocks */
.hljs {
  font-family: 'Fira Code', 'Consolas', 'Courier New', monospace; /* Use your preferred font */
  /* font-size: 14px; Optional: Adjust font size */
  /* line-height: 1.5; Optional: Adjust line spacing for readability */
}

