@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --scrollbar-color: #ccc;
  --hljs: white;
}

.dark {
  --scrollbar-color: #555;
  --hljs: #222;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-code: var(--font-code);
}

.overflow-scroll, .overflow-x-scroll, .overflow-y-scroll {
  scrollbar-color: var(--scrollbar-color) transparent;
}

.hljs {
  font-variant-ligatures: none;
  background: var(--hljs) !important;
}

.selected {
  @apply bg-purple-500 dark:bg-[#018749] text-white dark:text-gray-200;
}

button {
  cursor: pointer;
}